<div class="back-link-container">
  <%= link_to root_path do %>
    <%= icon('fa-solid', 'arrow-left')%>
    Back to Home
  <% end %>
</div>

<h1><%= @team.name %></h1>

<div>
  <%= link_to edit_team_path(@team.id) do %>
    <%= icon('fa-solid', 'pen-to-square')%>
    Edit Team
  <% end %>
</div>

<p>
  Owner: <%= @owner.email %>
</p>