<%= render 'teams/header' %>

<div class="page-header__subheading">
  <h2>Manage Members</h2>
</div>

<div class="invite-members-container">
  <%= link_to new_team_membership_path, data: { turbo_frame: 'modal' } do %>
    <%= icon('fa-solid', 'envelope-open-text', class: 'icon') %> Invite Members
  <% end %>
</div>

<section id="pending" class="content-section member-list">
  <h3>Pending Invitations</h3>
  <div class="key">
    <div class="key-item missing">
      <%= icon('fa-solid', 'magnifying-glass', class: 'icon') %>
      <div class="key-description">
        Could not find user. (Make sure they have an account or that they email was entered correctly.)
      </div>
    </div>
    <div class="key-item waiting">
      <%= icon('fa-solid', 'envelope-circle-check', class: 'icon') %>
      <div class="key-description">
        Found user but they have not accepted the invitation yet.
      </div>
    </div>
    <div class="key-item rejected">
      <%= icon('fa-solid', 'ban', class: 'icon') %>
      <div class="key-description">
        Found user but they have rejected the invitation.
      </div>
    </div>
  </div>
  <% if @pending.count > 0 %>
    <%= render @pending %>
  <% else %>
    There are currently no pending members for <%= @team.name %>.
  <% end %>
</section>

<section id="current-members" class="content-section">
  <% if @memberships.count > 0 %>
    Members!
  <% else %>
    There are currently no active members for <%= @team.name %>. You can invite members <%= link_to "here", new_team_membership_path, data: { turbo_frame: 'modal' } %>.
  <% end %>
</section>