<%= render TurboModalComponent.new(title: "Invite Members to #{@team.name}") do %>
  <% form_for @membership, url: team_memberships_path(@team.id), html: { method: :post } do |f| %>
    <div class="modal__form-wrapper">
      <div class="field">
        <%= f.label :email %>
        <div class="input-wrapper">
          <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "text-input" %>
        </div>
      </div>
      <div class="form-btn__container">
        <%= f.submit "Invite", class: "modal-btn modal-btn__submit" %>
        <%= button_tag data: { action: "turbo-modal#hideModal" }, type: "button", class: "modal-btn__cancel" do %>
          Cancel
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>