<div class="form-container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <div class="form-wrapper">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :username %><br />
        <%= f.text_field :username, class: "field-text" %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autocomplete: "email", class: "field-text" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "field-text" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field-text" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "field-text" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "form-button", data: { test: "update-user-account" } %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-container">
  <%= link_to "Back", :back %>
</div>