<div>
  <div>
    <div>
      <h2><%= @lesson.name %> Roster</h2>
      <h3><%= @roster.dates %></h3>
    </div>

    <div class="form-wrapper">
      <h3>Create a New Lesson</h3>
      <%= form_with model: [ @user, @team, @team.lessons.build ] do |form| %>
        <div class="field">
          <%= form.label :name %><br>
          <%= form.text_field :name, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.submit "Add Lesson", class: "form-button"  %>
        </div>

        <div class="field">
          <%= form.label :email %><br>
          <%= form.text_field :email, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.label :phone %><br>
          <%= form.text_field :phone, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.submit "Add New Student", class: "form-button"  %>
        </div>
      <% end %>
    </div>

    <div class="roster-student-list">
      <% if @roster.no_students? %>
        No students
      <% else%>
        <ul>
          <li>
            <div class="students-header student-details">
              <div>
                First Name
              </div>
              <div>
                Last Name
              </div>
            </div>
            <div class="students-header">
              Delete Student from Roster
            </div>
          </li>
          <% @roster.present_students.each do |student| %>
            <li>
              <div class="student-details">
                <div>
                  <%= student.first_name %>
                </div>
                <div>
                  <%= student.last_name %>
                </div>
                <div>
                  <%= link_to(user_team_student_path(@user.id, @team.id, student.id)) do %>
                    <div class="student-link">
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="/assets/solid.svg#address-card"></use>
                      </svg>
                      <div>
                        Profile
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
              <div>
                x
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to "Back", :back %>
  </div>
</div>
