<h2>
  <%= @roster.name %>
  <%= @roster.dates %>
</h2>

<div>
  <% if @roster.no_unique_rosters? %>
    No students have been enrolled.
  <% else %>
    <ul>
      <% @roster.unique_rosters.each do |ur| %>
        <li class="flex-row-sp-btwn">
          <div>
            <%= ur.student.first_name %>
            <%= ur.student.last_name %>
            <%= ur.student.contact %>
          </div>
          <div>
            <%= button_to "X", unique_roster_path(ur.id), data: { confirm: 'Are you sure you want to delete this student?', test: "delete-student-from-ur-#{ur.id}" }, method: :delete, class: "delete-btn" %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>