<div class="swatch-container">
  <div class="swatch-title"><%= @title %></div>
  <div class="swatch" style="background-color: <%= @color_code %>; color: <%= @light_text_color %>;"><%= @color_code %></div>
  <div class="swatch" style="background-color: <%= @color_code50 %>;"><%= @color_code50 %></div>
  <div class="swatch" style="background-color: <%= @color_code30 %>;"><%= @color_code30 %></div>
</div>
