<div class="swatch-container">
  <div><%= @title %></div>
  <div class="swatch" style="background-color: <%= @colorCode %>"><%= @colorCode %></div>
  <div class="swatch" style="background-color: <%= @colorCode50 %>"><%= @colorCode50 %></div>
  <div class="swatch" style="background-color: <%= @colorCode30 %>"><%= @colorCode30 %></div>
</div>
