<div class="portal-form">
  <h2>Edit student profile</h2>

  <div class="form-container">
    <div class="form-wrapper">
      <%= form_for @student, url: user_team_student_path do |form| %>
        <div class="field">
          <%= form.label :first_name %><br>
          <%= form.text_field :first_name, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.label :last_name %><br>
          <%= form.text_field :last_name, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.label :email %><br>
          <%= form.text_field :email, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.submit "Update Student", class: "form-button"  %>
        </div>
      <% end %>
    </div>
  </div>