<div class="student-dash">
  <div>
    <h1><%= @team.name %> Student Dash</h1>

    <div>
      <div class="form-wrapper">
        <%= form_for @student, url: user_team_students_path(@user.id, @team.id) do |form| %>
          <div class="field">
            <%= form.label :first_name %><br>
            <%= form.text_field :first_name, class: "field-text" %>
          </div>

          <div class="field">
            <%= form.label :last_name %><br>
            <%= form.text_field :last_name, class: "field-text" %>
          </div>

          <div class="field">
            <%= form.label :email %><br>
            <%= form.text_field :email, class: "field-text" %>
          </div>

          <div class="field">
            <%= form.submit "Add Student", class: "form-button"  %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="student-list">
      <% if @students.count.zero? %>
        Add your first student!
      <% else %>
        <ul>
          <li>
            <div class="student-details header">
              <div class="id header item">
                ID
              </div>
              <div class="profile header item">
              </div>
              <div class="name header item">
                First Name
              </div>
              <div class="name header item">
                Last Name
              </div>
              <div class="header item">
                Email
              </div>
            </div>
            <div class="student-delete-container header item">
              Delete Student
            </div>
          </li>
          <% @students.each do |student| %>
            <li>
              <div class="student-details">
                <div class="id item">
                  <%= student.id %>
                </div>
                <div class="profile item">
                  <%= link_to user_team_student_path(user_id: @user.id, team_id: @team.id, id: student.id) do%>
                    <div class="student-link">
                      <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <use xlink:href="/assets/solid.svg#address-card"></use>
                      </svg>
                      <div>
                        Profile
                      </div>
                    </div>
                  <% end %>
                </div>
                <div class="name item">
                  <%= student.first_name %>
                </div>
                <div class="name item">
                  <%= student.last_name %>
                </div>
                <div>
                  <%= student.email %>
                </div>
              </div>
              <div class="student-delete-container item">
                <%= button_to "x", user_team_student_path(id: student.id, user_id: @user.id, team_id: @team.id), method: :delete, class: "student-delete" %>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>