<div class="student-dashboard">
  <div>
    <h1><%= @user.team_name %> Student Dashboard</h1>
  </div>

  <div>
    <%= render partial: 'students/new' %>
  </div>

  <div>
    <% if @team.no_students? %>
      There are no students enrolled in <%= @user.team_name %>.
    <% else %>

      <ul>
        <li>
          <div>
            <div>
              ID
            </div>
            <div>
              First Name
            </div>
            <div>
              Last Name
            </div>
          </div>
          <div>
            Delete Student
          </div>
        </li>
        <% @team.students.each do |student| %>
          <li>
            <div>
              <div>
                <%= student.id %>
              </div>
              <div>
                <%= student.first_name %>
              </div>
              <div>
                <%= student.last_name %>
              </div>
            </div>
            <div>
              X
            </div>
          </li>
        <% end %>
      </ul>

    <% end %>
  </div>

</div>