<div class="portal-dash student-dash">
  <div>
    <h2>Student Profile</h2>
    <div class="student-info">
      <div>
        <div>
          <strong>Name:</strong> <%= @student.name %>
        </div>
        <div>
          <strong>Email:</strong> <%= @student.email %>
        </div>
      </div>
      <div>
        <%= button_to "Delete Student", user_team_student_path(id: @student.id, user_id: @user.id, team_id: @team.id), method: :delete, class: "student-delete" %>
      </div>
    </div>
    <%= link_to "Edit Profile", edit_user_team_student_path(id: @student.id, user_id: @user.id, team_id: @team.id) %>
  </div>

  <div>
    <h2><%= @student.name %>'s History</h2>
<<<<<<< HEAD

    <div>
      <div class="form-wrapper">
        <%= form_with model: [ @user, @team, @student, @student.unique_rosters.build ] do |form| %>

          <div class="field">
            <%= form.select :roster_id, Roster.all.collect { |roster| [roster.dates, roster.id] }, include_blank: true %>
          </div>

          <div class="field">
            <%= form.select :lesson_id, Lesson.all.collect { |lesson| [lesson.name, lesson.id] }, include_blank: true %>
          </div>

          <div class="form-btn-container">
            <div class="field">
              <%= form.submit "Add to Class", class: "form-button roster"  %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <% if @student.no_unique_rosters? %>
        This student has not taken any classes at <%= @team.name %>.
      <% else %>
        <ul>
          <li>
            <div>
              <div>
                Lesson
              </div>
              <div>
                Roster
              </div>
            </div>
            <div>
              Remove Student from Class
            </div>
          </li>
          <% @student.student_unique_rosters.each do |ur| %>
            <li>
              <div>
                <div>
                  <%= ur.lesson %>
                </div>
                <div>
                  <%= ur.roster %>
                </div>
              </div>
              <div>
                x
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
=======
>>>>>>> parent of d8948c8... Create UniqueRoster
  </div>
</div>