<div class="portal-dash student-dash">
  <div>
    <h2>Student Profile</h2>
    <div class="student-info">
      <div>
        <div>
          <strong>Name:</strong> <%= @student.name %>
        </div>
        <div>
          <strong>Email:</strong> <%= @student.email %>
        </div>
      </div>
      <div>
        <%= button_to "Delete Student", user_team_student_path(id: @student.id, user_id: @user.id, team_id: @team.id), method: :delete, class: "student-delete" %>
      </div>
    </div>
    <%= link_to "Edit Profile", edit_user_team_student_path(id: @student.id, user_id: @user.id, team_id: @team.id) %>
  </div>

  <div>
    <div>
      <h2><%= @student.name %>'s History</h2>
    </div>
    <div class="form-wrapper">
      <%= form_with model: [ @user, @team, @student, @student.unique_rosters.build ] do |form| %>
        <div class="field">
          <%= form.select :lesson_id, Lesson.all.collect { |lesson| [lesson.name, lesson.id] }, { include_blank: 'Select a Lesson' }, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.select :roster_id, Roster.all.collect { |roster| [roster.dates, roster.id] }, { include_blank: 'Select a Roster' }, class: "field-text" %>
        </div>

        <div class="form-btn-container">
          <div class="field">
            <%= hidden_field_tag :student_id, value: @student.id %>
            <%= form.submit "Add Unique Roster", class: "form-button roster", name: 'add_student'  %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="class-list-container">
      <% if @student.no_unique_rosters? %>
        Not enrolled.
      <% else %>
        <ul>
          <li class="header class-list-item">
            <div class="class-info">
              <div class="class-id">
                ID
              </div>
              <div class="class-lesson">
                Lesson
              </div>
              <div class="class-roster">
                Roster
              </div>
            </div>
            <div class="class-delete-btn-cont">
              Remove Student from Class
            </div>
          </li>
          <% @student.unique_roster_links.each do |unique_class| %>
            <li class="class-list-item">
              <div class="class-info">
                <div class="class-id">
                  <%= unique_class.unique_roster_id %>
                </div>
                <div class="class-lesson">
                  <%= unique_class.lesson_name %>
                </div>
                <div class="class-roster">
                  <%= unique_class.roster_dates %>
                </div>
              </div>
              <div class="class-delete-btn-cont">
                <div>
                  <%= button_to "x", user_team_student_remove_unique_roster_path(student_id: @student.id, user_id: @user.id, team_id: @team.id, unique_roster_id: unique_class.unique_roster_id), method: :delete, class: "student-delete" %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>