<h1 class="admin-content__header">Admin Dashboard</h1>

<div class="site-stats">
  <div class="stat-block">
    <div class="stat-block__header-container">
      <h2 class="stat-block__header">
        Users
      </h2>
      <%= link_to admin_users_path, class: "stat-block__icon" do %>
        <%= icon('fa-solid', 'users')%>
      <% end %>
    </div>
    <p class="stat-block__stat"><%= @user_count %></p>
  </div>

  <div class="stat-block">
    <div class="stat-block__header-container">
      <h2 class="stat-block__header">
        Teams
      </h2>
      <%= link_to admin_teams_path, class: "stat-block__icon" do %>
        <%= icon('fa-solid', 'people-line')%>
      <% end %>
    </div>
    <p class="stat-block__stat"><%= @teams_count %></p>
  </div>
</div>