<h2>Profile</h2>

<div class="profile-detail username">
  <h3>Username: <%= @user.username %></h3> 
</div>

<div class="profile-detail email">
  <h3>Email: <%= @user.email %></h3>
</div>

<% if current_user.siteAdmin? %>
  <div class="profile-detail status">
    <% if @user.siteAdmin? %>
      <div class="badge-container">
        <%= icon('fa-solid', 'cog', class: 'icon') %>
        <div class="badge-text">
          Site Admin
        </div>
      </div>
    <% end %>
    <% if @user.user? %>
      <div class="badge-container">
        <%= icon('fa-solid', 'user', class: 'icon') %>
        <div class="badge-text">
          User
        </div>
      </div>
    <% end %>
    <% if @user.confirmed? %>
      <div class="badge-container confirmed">
        <%= icon('fa-solid', 'circle-check', class: 'icon ')%>
        <div class="badge-text">
          Confirmed
        </div>
      </div>
    <% else %>
      <div class="badge-container unconfirmed">
        <%= icon('fa-solid', 'x', class: 'icon')%> 
        <div class="badge-text">
          Unconfirmed
        </div>
      </div>
    <% end %>
  </div>
<% end %>
