<div class="portal-welcome">
  <% if @user.no_team? %>
    <h2>Create Your Team</h2>
    <div class="form-container">
      <div class="form-wrapper">
        <%= form_with model: [ @user, @user.teams.build ] do |form| %>
          <div class="field">
            <%= form.label :name %><br>
            <%= form.text_field :name, class: "field-text" %>
          </div>

          <div class="field">
            <%= form.submit "Create Team", class: "form-button", data: { test: "create-new-team" }  %>
          </div>
        <% end %>
      </div>
    </div>
</div>
  <% else %>
    <h2>
      <%= @team.name %> Dashboard
      <%= link_to "Edit Team", edit_user_team_path(@user.id, @team.id) %>
    </h2>
</div>

<div class="portal-content">
    <div class="lesson-list">
      <% if @team.no_lessons? %>
        <%= @team.name %> currently has no lessons.
      <% else %>
        <ul>
          <% @team.lessons.each do |lesson| %>
            <li>
              <%= link_to lesson.name, user_team_lesson_path(@team.user_id, @team.id, lesson.id) %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <div class="portal-forms-container">
      <div class="form-wrapper">
        <h2>Create a Lesson</h2>
        <%= form_with model: [ @user, @team, @team.lessons.build ] do |form| %>
          <div class="field">
            <%= form.label :name %><br>
            <%= form.text_field :name, class: "field-text" %>
          </div>

          <div class="field">
            <%= form.submit "Create Lesson", class: "form-button"  %>
          </div>
        <% end %>
      </div>

      <div class="form-wrapper">
        <h2>Add Roster to All Lessons</h2>
        <%= form_with model: [ @user, @team, @team.lessons.first, @team.lessons.first.rosters.build ] do |form| %>
          <div class="dates">
            <div class="field date-field">
              <%= form.label "Beginning Date" %><br>
              <%= form.date_field :begin_date %>
            </div>

            <div class="field date-field">
              <%= form.label "End Date" %><br>
              <%= form.date_field :end_date %>
            </div>
          </div>

          <div class="field">
            <%= form.submit "Add to All Lessons", class: "form-button roster", name: 'add_to_all' %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>