<div class="portal-welcome">
  Welcome <%= @user.username %>.

  <div>
    <% if @user.no_teams? %>

      <%= render partial: 'teams/new' %>

    <% else %>

      <div class="dash-title">
        <h2>
          <%= @user.team_name %> DashboardΩ
          <%= link_to "Edit Team", edit_team_path(@user.team_id), class: "dash-title-link" %>
        </h2>
      </div>
</div>


    <div class="portal-content">
      <div class="team-lesson-list-container">
        <h2>Lessons</h2>
        <% if @user.team.no_lessons? %>
          No lessons exist for <%= @user.team_name %>.
        <% else %>
          <ul class="team-lesson-list">
            <li class="header flex-row-sp-btwn">
              <div>
                Name
              </div>
              <div>
                Delete Lesson
              </div>
            </li>
            <% @user.team_lessons.each do |lesson| %>
              <li class="flex-row-sp-btwn">
                <div>
                  <%= link_to lesson.name, team_lesson_path(@user.team_id, lesson.id), id: "#{lesson.name}-link" %>
                </div>

                <div>
                  <%= button_to "X", team_lesson_path(team_id: @user.team_id, id: lesson.id), data: { confirm: 'Are you sure you want to delete this lesson?', test: "delete-lesson-#{lesson.id}" }, method: :delete, class: "delete-btn" %>
                </div>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <%= render partial: 'lessons/new' %>
    </div>
  <% end %>
</div>