<% if @user.no_team? %>
  <div class="portal-welcome">
    <h3>Welcome, <%= @user.name %></h3>

    <div class="portal-instructions">
      Before you begin, create your team!
    </div>

    <%= render partial: 'teams/new' %>
  </div>
<% else %>

  <div class="portal-welcome">
    Hello, <%= @user.name %>.

    <h3><%= @team.name %> Lessons</h3>

    <% if @user.team.no_lessons? %>
      Create your first lesson!
    <% else %>
      <ul>
        <% @lessons.each do |lesson| %>
          <li><%= lesson.name %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render partial: 'lessons/new' %>

  </div>

<% end %>