<div class="portal-welcome">
  Welcome <%= @user.username %>.

  <div>
    <% if @user.no_teams? %>

      <%= render partial: 'teams/new' %>

    <% else %>

      <div class="dash-title">
        <h2>
          <%= @user.team.name %> Dashboard
          <%= link_to "Edit Team", edit_team_path(@user.team.id), class: "dash-title-link", data: {test: "edit-team"} %>
        </h2>
      </div>

      <div>
        <h3>Lessons</h3>

        <div>
          <% if @user.team.no_lessons? %>
            No lessons exist for <%= @user.team.name %>.
          <% else %>
            Let's learn!
          <% end %>
        </div>

        <%= render partial: 'lessons/new' %>
      </div>
    <% end %>
  </div>

</div>