<div class="portal-welcome">
  Welcome <%= @user.username %>.

  <div>
    <% if @user.no_teams? %>

      <%= render partial: 'teams/new' %>

    <% else %>

      <div class="dash-title">
        <h2>
          <%= @user.team_name %> Dashboard
          <%= link_to "Edit Team", edit_team_path(@user.team_id), class: "dash-title-link", data: {test: "edit-team"} %>
        </h2>
      </div>
</div>


    <div class="portal-content">
      <div class="team-lesson-list-container">
        <h2>Lessons</h2>
        <% if @user.team.no_lessons? %>
          No lessons exist for <%= @user.team_name %>.
        <% else %>
          <ul class="team-lesson-list">
            <li class="header">
              Name
            </li>
            <% @user.team_lessons.each do |lesson| %>
              <li>
                <%= link_to lesson.name, team_lesson_path(@user.team_id, lesson.id) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <%= render partial: 'lessons/new' %>
    </div>
  <% end %>
</div>