<div class="form-container">
  <h2>Edit Lesson</h2>

  <div class="form-wrapper">
    <%= form_for @lesson, url: team_lesson_path do |form| %>
      <div class="field">
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "field-text" %>
      </div>

      <div class="field">
        <%= form.label :description %><br>
        <%= form.text_area :description, class: "field-text" %>
      </div>

      <div class="field">
        <%= form.submit "Update Lesson", class: "form-button", data: {test: "submit"}  %>
      </div>
    <% end %>
  </div>
</div>