<div class="portal-form">
  <h2>Edit team</h2>

  <div class="form-container">
    <div class="form-wrapper">
      <%= form_for @lesson, url: user_team_lesson_path do |form| %>
        <div class="field">
          <%= form.label :name %><br>
          <%= form.text_field :name, class: "field-text" %>
        </div><br />

        <div class="field">
          <%= form.label :description %><br>
          <%= form.text_area :description, class: "field-text" %>
        </div>

        <div class="field">
          <%= form.submit "Update Team", class: "form-button"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>