<%= render 'teams/header' %>

<div class="page-container">
  <div class="form-container">
    <div class="form-heading-wrapper">
      <h2>Create A New Lesson</h2>
    </div>

    <div class="form-wrapper">
      <%= form_for @lesson, url: team_lessons_path, html: { method: :post } do |f| %>
        <div class="field">
          <%= f.label :title %>
          <div class="input-wrapper">
            <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "text-input" %>
          </div>
        </div>
        <div class="form-btn-wrapper">
          <%= f.submit "Add Lesson", class: "form-btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
