<%= render 'teams/header' %>
<%= render 'lessons/header' %>

<div class="session-list-container">
  <% unless @lesson.sessions.count > 0 %>
    <p>There are no active sessions yet. Create your first session <%= link_to "here", new_team_lesson_session_path(team_id: @team.id, lesson_id: @lesson.id) %>.</p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Session</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @lesson.sessions.each do |session| %>
          <tr>
            <td><%= session.name %></td>
            <td><%= session.start_date.strftime("%d %B, %Y") %></td>
            <td><%= session.end_date.strftime("%d %B, %Y") %></td>
            <td>
              <%= link_to "View", team_lesson_session_path(team_id: @team.id, lesson_id: @lesson.id, id: session.id), class: "" %>
              <%= link_to "Edit", edit_team_lesson_session_path(team_id: @team.id, lesson_id: @lesson.id, id: session.id), class: "" %>
              <%= form_for session, url: team_lesson_session_path(@team.id, @lesson.id, session.id), html: { method: :delete } do |f| %>
                <%= f.submit "Delete", data: { confirm: "Are you sure you want to delete this session?" }, class: "" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="btn-container">
      <%= link_to "Add a new session", new_team_lesson_session_path(team_id: @team.id, lesson_id: @lesson.id), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>