<div class="lesson-dash">
  <h2 class="lesson-header">
    <%= @lesson.name%>
  </h2>

  <div class="lesson-desc">
    <% if @lesson.description.nil? %>
      <%= link_to "Add a description", edit_user_team_lesson_path(@user.id, @team.id, @lesson.id) %>
    <% else %>
      <%= @lesson.description %>
    <% end %>

    <div class="lesson-links">
      <%= link_to "Edit Lesson", edit_user_team_lesson_path(@user.id, @team.id, @lesson.id), class: 'lesson-link' %>

      <%= button_to "Delete Lesson", user_team_lesson_path, class: 'link-delete', method: :delete %>
    </div>
  </div>

  <div>
    <div class="form-wrapper">
      <%= form_with model: [ @user, @team, @lesson, @lesson.rosters.build ] do |form| %>
        <div class="dates">
          <div class="field date-field">
            <%= form.label "Beginning Date" %><br>
            <%= form.date_field :begin_date %>
          </div>

          <div class="field date-field">
            <%= form.label "End Date" %><br>
            <%= form.date_field :end_date %>
          </div>
        </div>

        <div class="field">
          <%= form.submit "Add Roster", class: "form-button roster"  %>
        </div>
      <% end %>
    </div>
  </div>

  <div>
    <% if @lesson.no_rosters? %>
      There are currently no rosters for <%= @lesson.name %>.
    <% else %>
      <div class="rosters-list">
        <ul>
          <% @lesson.present_rosters.each do |roster| %>
            <li>
              <div class="roster-item">
                <div class="roster-link">
                  <%= roster.begin_date.try(:to_formatted_s, :rfc822) %> - <%= roster.end_date.try(:to_formatted_s, :rfc822) %>
                </div>
                <div class="roster-delete">
                  <%= button_to "x", user_team_lesson_roster_path(id: roster.id, lesson_id: @lesson.id), method: :delete %>
                </div>
              </div>
            </li>
          <%end%>
        </ul>
      </div>
    <% end %>
  </div>
</div>