<div class="lesson-dash">
  <div class="lesson-welcome">
    <h2><%= @lesson.name %></h2>
    <div class="flex-row-sp-btwn">
      <div class="lesson-description">
        <% if @lesson.no_description? %>
          <%= link_to "Add Description", edit_team_lesson_path(team_id: @lesson.team_id, id: @lesson.id) %>
        <% else %>
          <%= @lesson.description %>
        <% end %><br />
        <%= link_to "Edit Lesson", edit_team_lesson_path(team_id: @lesson.team_id, id: @lesson.id) %>
      </div>
      <div>
        <%= button_to "Delete Lesson", team_lesson_path(team_id: @lesson.team_id, id: @lesson.id), data: { confirm: 'Are you sure you want to delete this lesson?' }, method: :delete, class: "delete-btn" %>
      </div>
    </div>
  </div>

  <div>
    <div class="form-wrapper">
      <h3>Add Roster to <%= @lesson.name %></h3>
      <%= form_for Roster.new, url: team_lesson_rosters_path(@lesson.team_id, @lesson.id) do |form| %>

        <%= render 'rosters/fields', form: form %>

        <div class="form-btn-container">
          <div class="field">
            <%= form.submit "Add Roster", class: "form-button roster", data: { test: "add-roster-lesson" }  %>
          </div>

          <div class="field">
            <%= form.submit "Add to All Lessons", class: "form-button roster", name: 'add_to_all', data: { test: "add-roster-all-lessons" } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="lesson_roster_list">
    <% if @lesson.no_rosters? %>
      There are currently no rosters for <%= @lesson.name %>
    <% else %>
      <ul>
        <li class="header flex-row-sp-btwn">
          <div class="flex-row">
            <div class="id">
              ID
            </div>
            <div class="name">
              Name
            </div>
            <div class="date">
              Begin Date
            </div>
            <div class="date">
              End Date
            </div>
          </div>
          <div>
            Delete Roster
          </div>
        </li>
        <% @lesson.rosters.each do |roster| %>
          <li class="flex-row-sp-btwn">
            <div class="flex-row">
              <div class="id">
                <%= roster.id %>
              </div>
              <div class="name">
                <%= roster.name %>
              </div>
              <div class="date">
                <%= roster.begin_date.try(:to_formatted_s, :rfc822) %>
              </div>
              <div class="date">
                <%= roster.end_date.try(:to_formatted_s, :rfc822) %>
              </div>
              <%= link_to team_lesson_roster_path(@lesson.team_id, @lesson.id, roster.id), data: { test: "roster-#{roster.id}-link" } do %>
                <div class="flex-row profile-link">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                    <use xlink:href="/assets/solid.svg#clipboard-list"></use>
                  </svg> 
                  <div>
                    Roster
                  </div>
                </div>
              <% end %>
            </div>
            <div class="roster-delete-container">
              <%= button_to "x", team_lesson_roster_path(id: roster.id, lesson_id: @lesson.id), method: :delete, class: "delete-btn", data: { test: "delete-roster-#{roster.id}" } %>
            </div>
          </li>
        <%end%>
      </ul>
    <% end %>
  </div>
</div>