<div class="page-container">
  <div class="form-container devise-form-container">
    <div class="form-heading-wrapper">
      <h2>Log in</h2>
    </div>

    <div class="form-wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %>
          <div class="input-wrapper">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-input" %>
          </div>
        </div>

        <div class="field">
          <%= f.label :password %>
          <div class="input-wrapper">
            <%= f.password_field :password, autocomplete: "current-password", class: "text-input" %>
          </div>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: "devise-form-btn" %>
        </div>
      <% end %>

      <div class="links-wrapper">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
