<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head' %>

  <body>
    <div id="app">
      <%= render partial: 'shared/nav' %>
      <main class="<%= controller_name %>-content">
        <div class="container plus-one">
          <%= render partial: 'shared/alerts', locals: { notice: flash[:notice], alert: flash[:alert] } %>
          <%= yield %>
        </div>
      </main>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>
